@font-face {
  font-family: "Brandon_blk";
  font-style: normal;
  font-weight: 100;
  src: local("Brandon_blk"), url(../fonts/Brandon_blk.otf) format("opentype");
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

img {
  min-width: 400px;
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
  padding: 20px;
}

.DataContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.DataItem {
  min-height: 400px;
  height: 100%;
  padding-top: 20px;
  margin-top: 20px;
  overflow: auto;
}

.mapContainer {
  height: 600px;
  display: flex;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#donateButton {
  background-color: rgb(25, 126, 171);
  height: 50px;
  width: 200px;
  min-width: 200px;
  border-radius: 5px;
  font-family: "Brandon_blk", sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

a {
  text-decoration: none;
  font-weight: 550;
  font-size: 12px;
  letter-spacing: 1px;
}

#donateLink {
  color: white;
}


.top {
  padding: 0;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-right: 0px;
}

.grit {
  -webkit-mask-image: url("https://res.cloudinary.com/dxgjnpsjv/image/upload/v1570074503/National%20Park/img-noise-361x370_5_qmzxiy.png");
  mask-image: url("https://res.cloudinary.com/dxgjnpsjv/image/upload/v1570074115/National%20Park/istockphoto-1074262632-612x612_qgmu3c.png");
}
h1 {
  font-family: "Brandon_blk", sans-serif;
  color: white;
  font-size: 62px;
  padding-top: 20px;
}

.arrowContainer {
  background-image: url("https://res.cloudinary.com/dxgjnpsjv/image/upload/v1570071363/National%20Park/large-blue-arrow_jwdfbt.png");
  background-position: center center !important;
  background-size: 150px;
  background-repeat: no-repeat;
}
h3 {
  font-family: "Brandon_blk";
  font-weight: 400;
  position: relative;
  color: white;
  text-shadow: 0px 2px 1.2rem #000018;
  font-size: 22px;
  margin-top: -33px;
}
#topLogoContainer {
  max-width: 600;
}

.bg-img {
  background-image: url("https://res.cloudinary.com/dxgjnpsjv/image/upload/v1570071364/National%20Park/crater-hero_vmmi7w.jpg");
  filter: saturate(120%) brightness(65%);
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center center !important;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -3;
}

.bg-gradient {
  background: rgba(252, 234, 187, 0.17);
  background: -moz-linear-gradient(
    45deg,
    rgba(252, 234, 187, 0.17) 38%,
    rgba(252, 234, 187, 0.22) 52%,
    rgba(251, 223, 147, 0.57) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(38%, rgba(252, 234, 187, 0.17)),
    color-stop(52%, rgba(252, 234, 187, 0.22)),
    color-stop(100%, rgba(251, 223, 147, 0.57))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(252, 234, 187, 0.17) 38%,
    rgba(252, 234, 187, 0.22) 52%,
    rgba(251, 223, 147, 0.57) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(252, 234, 187, 0.17) 38%,
    rgba(252, 234, 187, 0.22) 52%,
    rgba(251, 223, 147, 0.57) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(252, 234, 187, 0.17) 38%,
    rgba(252, 234, 187, 0.22) 52%,
    rgba(251, 223, 147, 0.57) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(252, 234, 187, 0.17) 38%,
    rgba(252, 234, 187, 0.22) 52%,
    rgba(251, 223, 147, 0.57) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
  height: 100%;
  width: 100%;
  opacity: 10%;
  position: absolute;
  z-index: -1;
}

.saturate-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  filter: saturate(5%);
}

.downContainer {
  margin-top: -20px;
  text-shadow: 0px 2px 1.2rem #000018;
  justify-content: space-between;
}

h2 {
  color: white;
  font-size: 18px;
  margin: 0px;
}

.fa-sort-down {
  color: #ffffff;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
